# App URL (Contoh: https://www.repastain.my.id)
NEXT_PUBLIC_APP_URL=https://www.repastain.my.id
NEXT_PUBLIC_SECONDARY_APP_URL=https://repastain.vercel.app

# WhatsApp (format: 62xxxxxxxxxx, tanpa + atau spasi)
NEXT_PUBLIC_WHATSAPP_NUMBER=628

# Email
NEXT_PUBLIC_EMAIL=email@gmail.com
